<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442366280734-778qvugii6k9qur0689fi5oqjf4j9p6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442366280734-778qvugii6k9qur0689fi5oqjf4j9p6k</string>
	<key>API_KEY</key>
	<string>AIzaSyAD4FNdKRRU6bdZIMf73sGSJwc_HSF3b8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>442366280734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task9adderr.taskadder</string>
	<key>PROJECT_ID</key>
	<string>taskadder-8f1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>taskadder-8f1d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442366280734:ios:2bd32f7bcc1ce4aaa69a0f</string>
</dict>
</plist>